<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">

          <h5 class="center-align">About Math4Cardio</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
              <p> The primary aim of this conference is to foster an interdisciplinary dialogue among the mathematical community (researchers in mathematical modeling, mathematical analysis, numerical mathematics and scientific computing], ), biomedical engineers, and clinical experts (cardiac surgeons, radiologists, and cardiologists). This interdisciplinary exchange aims to formulate open topics and questions in hemodynamics, to enhance the reliability of computational tools in both physiological and artificial systems and to address critical challenges in diagnosing and quantifying cardiovascular pathologies such as aortic stenosis.
</p>
              <p><a href="{{site.registration-page}}">Register for conference!</a></p>
            </div>
          </div>


      </div>
