<!-- Dates section -->
<div class="section scrollspy section-section" id="dates">

  <div class="container">
 
  <h4 class="center-align section-white-header">Dates</h4>
  
  <div class="row">
    <div class="col s12 m12 l12 section-white-body center">
  
      <ul class="dates">
        <li>December 19, 2025 - First anouncement </li>
        <li>February 5, 2025 - Web online</li>
        <li>....   </li>
        <li>March 27 - 29, 2026 - Conference</li>
      </ul>
    </div>
  </div>
  
  </div>
</div>
